<h1>My MonMon Search</h1>
<% if @monster.blank? %>
<h4>You do not have that monster <%= params[:search]%>.</h4>
<% end %>

<table class="table table-hover table-dark">
<%count = 0%>
  	<th></th>
      <td colspan="2" class="bg-danger"> Name </td>
      <td colspan="2" class="bg-danger"> Speed </td>
      <td colspan="2" class="bg-danger"> Sp Defense </td>
      <td colspan="2" class="bg-danger"> Sp. Attack </td>
      <td colspan="2" class="bg-danger"> Defense </td>
      <td colspan="2" class="bg-danger"> Attack </td>
      <td colspan="2" class="bg-danger"> HP </td>
      <td colspan="2" class="bg-danger"> Moveset 1 </td>
      <td colspan="2" class="bg-danger"> Moveset 2</td>
    <tr>
  <% @monster.order('id asc').each do |monmon| %>

       <th>MonMon <%= count += 1%></th>
   	  <td colspan="2" class="bg-info"><%= monmon.name %></td>
      <td colspan="2" class="bg-dark"><%= monmon.spd %></td>
      <td colspan="2" class="bg-dark"><%= monmon.spdef %></td>
      <td colspan="2" class="bg-dark"><%= monmon.spatk %></td>
      <td colspan="2" class="bg-dark"><%= monmon.def %></td>
      <td colspan="2" class="bg-dark"><%= monmon.atk %></td>
      <td colspan="2" class="bg-dark"><%= monmon.hp %></td>
      <td colspan="2" class="bg-dark"><%= monmon.move1 %></td>
      <td colspan="2" class="bg-dark"><%= monmon.move2 %></td>
    </tr>

  <% end %>
</table>

<%= link_to "Home", "/" %>