<% if cookies[:email]==nil%>
	<h1>Welcome to MonMon</h1>
	<%= link_to "Sign in with Google", "/auth/google_oauth2" %>
	<br>
	<%= link_to "Log in", "/sign_in"%>
	<br>
	<%= link_to "Sign up", "/sign_up"%>
<% else %>

	<%= csrf_meta_tag %>
	<h1>Welcome to Monmon</h1>
	<p>Signed in as, <%= cookies[:email] %></p>
	<%= link_to "Sign Out", "/sign_out"%> 
	<br>

	<% if @deck != nil %>
		<%= "Deck: "%>
		<%= link_to @deck.deck_name, "/search" %>
	<% else %>
		<button onclick="newDeck()">Create new Deck</button>
		<%= form_tag("/new_deck", method: "post", :id => 'deckform') do %>
		<%= label_tag :deck_name %>
		<%= text_field_tag :deck_name %>
		<%= submit_tag "Save" %>
		<% end %>
	<% end %>
	<br>
	<p id = "promptdeck"></p>


	<button id="play">Start Play!</button>

	<%= form_tag("/obtain_card", method: "post", :id => 'form') do %>

		<%= label_tag(:q, "Search for:") %>
		<%= label_tag :name %>
		<%= text_field_tag(:name) %>
		<div class="formstats">
			<%= label_tag :speed %>
			<%= text_field_tag(:spd) %>
			<%= label_tag :sp_def %>
			<%= text_field_tag(:spdef) %>
			<%= label_tag :sp_atk %>
			<%= text_field_tag(:spatk) %>

			<%= label_tag :def %>
			<%= text_field_tag(:def) %>
			<%= label_tag :atk %>
			<%= text_field_tag(:atk) %>
			<%= label_tag :hp %>
			<%= text_field_tag(:hp) %>
			<%= label_tag :move_1 %>
			<%= text_field_tag(:move1) %>
			<%= label_tag :move_2 %>
			<%= text_field_tag(:move2) %>
		</div>
	<button id="card">GET</button>

	<% end %>

<div id="playingfield">
	<p>Select a pokemon to get a card!</p>
	<p id="pokelist"></p>

	<div id="main">
		<img id="sprite" src="">
		<p id="pokename"></p>
		
		<div id="sub">
			<span class="sub1">
			Speed:	<label></label>
			Sp Def:	<label></label>
			Sp Atk:	<label></label>
			</span>
			<span class="sub2">
			Def:	<label></label>
			Atk:	<label></label>
			Hp: 	<label></label>
			</span>
		</div>
		
		<div id="pokemoves">
			<span class="moves1">
			Move 1:	<div></div>
			</span>
			<span class="moves2">
			Move 2:	<div></div>
			</span>
		</div>
	</div>


	<label id="killerhp"></label>
	<button id="killer">Attack!</button>
	<button id="win">Win the card!</button>
</div>


<script type="text/javascript">

	$("#deckform").hide();
	function newDeck() {
		var promptdeck = prompt("Give a name to your deck");
		if (promptdeck != null){
			$("#deckform").show();
			$("#deck_name").val(promptdeck);
		}
	}
 
	$(function(){
		$("#playingfield").hide();
		$("#form").hide();
		var $mon = $('#pokemoves div');
		var $but = $('#pokelist');
		var $mon2 = $('#sub label');
		var $mon3 = $('.formstats')
		var $monname = $("#pokename");
		var $sprite = $("#sprite");

		$("#play").on("click", function(play){
			$("#playingfield").show();
			$("#main").hide();
			$("#killer").hide();
			$("#win").hide();
			$("#form").hide();
		})

	$.ajax({
		type: "GET",
		url: 'https://pokeapi.co/api/v2/pokemon/?limit=20&offset=20',
		success: function(data) {
			console.log(data)
			for(i = 0; i < data.results.length; i++){
				let newBtn = document.createElement('button');
				newBtn.name = data.results[i].name;
				newBtn.innerHTML = data.results[i].name;
				newBtn.onclick = function(event){
					$("#main").show(500);
					$("#sub").show(1000);
					$("#pokemoves").show(1000);
					$("#killer").show();
					$("#win").hide();
					$("#form").hide();
					$("#pokelist").hide();
					console.log(event.target);
					console.log(event.target.name);
					generateMonMon(event.target.name);
				}
				$but.append(newBtn);
			}
		}
	});

	function generateMonMon(stat){
		$.ajax({
			type: "GET",
			url: "https://pokeapi.co/api/v2/pokemon/" + event.target.name,
			success: function(st){
				
				$sprite.attr('src', st.sprites.front_default);
				$monname.text(st.name);
				$("#name").val(st.name);	
				$mon2.each(function(index){
					$(this).text(st.stats[index].base_stat);
				})

				$mon.each(function(index){
					$(this).text(st.moves[Math.floor(Math.random()*st.moves.length)].move.name);
				})
					$("#spd").val(st.stats[0].base_stat);
					$("#spdef").val(st.stats[1].base_stat);
					$("#spatk").val(st.stats[2].base_stat);
					$("#def").val(st.stats[3].base_stat);
					$("#atk").val(st.stats[4].base_stat);
					$("#hp").val(st.stats[5].base_stat);

					$("#move1").val($("#pokemoves div")[0].textContent);

					$("#move2").val($("#pokemoves div")[1].textContent);

				$("#killerhp").text(st.stats[5].base_stat)
					var count = st.stats[5].base_stat;
				$("#killer").on("click",function(){
					count -= 1;
					console.log(count);

					if(count === 0){
						$(this).prop("disabled",true);
						$("#win").show();
					}
				})

				$("#win").on("click", function(){
					$("#form").show();
				})

				$("#card").on("click", function(){
					$.ajax({
						url: "/obtain_card",
						type: "POST",
						data: {name: st.name,
						spd: st.stats[0].base_stat,
						spdef: st.stats[1].base_stat,
						spatk: st.stats[2].base_stat,
						def: st.stats[3].base_stat,
						atk: st.stats[4].base_stat,
						hp: st.stats[5].base_stat,
						move1: $("#pokemoves div")[0],
						move2: $("#pokemoves div")[1],
						"authenticity_token": "<%= form_authenticity_token %>"
					},
						dataType: "json",
						success: function(data){
							console.log("I am here in ajax data!");
							
						}
					})
				})		
			}
		});
	}



$(".block").draggable({helper:"clone"});
$("#main").droppable(
	{
		accept:".block",
		drop: function(ev,ui) {
			var dropped = $(ui.draggable).clone();
			$(this).append(dropped);
		}
	});
});

</script>

<% end %>
